In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

In [2]:
data=pd.read_csv('Crop_recommendation.csv')

In [3]:
print(data.head(10))

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice
5  69  37  42    23.058049  83.370118  7.073454  251.055000  rice
6  69  55  38    22.708838  82.639414  5.700806  271.324860  rice
7  94  53  40    20.277744  82.894086  5.718627  241.974195  rice
8  89  54  38    24.515881  83.535216  6.685346  230.446236  rice
9  68  58  38    23.223974  83.033227  6.336254  221.209196  rice

In [4]:
data.shape

(2200, 8)

In [5]:
data.describe()

,N,P,K,temperature,humidity,ph,rainfall
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.469480,103.463655
std,36.917334,32.985883,50.647931,5.063749,22.263812,0.773938,54.958389
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267
25%,21.000000,28.000000,20.000000,22.769375,60.261953,5.971693,64.551686
50%,37.000000,51.000000,32.000000,25.598693,80.473146,6.425045,94.867624
75%,84.250000,68.000000,49.000000,28.561654,89.948771,6.923643,124.267508
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117

In [6]:
data['label'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [7]:
cleanup_nums={"label":{'rice':0, 'maize':1, 'chickpea':2, 'kidneybeans':3, 'pigeonpeas':4,
       'mothbeans':5, 'mungbean':6, 'blackgram':7, 'lentil':8, 'pomegranate':9,
       'banana':10, 'mango':11, 'grapes':12, 'watermelon':13, 'muskmelon':14, 'apple':15,
       'orange':16, 'papaya':17, 'coconut':18, 'cotton':19, 'jute':20, 'coffee':21}}
data.replace(cleanup_nums,inplace=True)
data.head(10)

    N   P   K  temperature   humidity        ph    rainfall  label
0  90  42  43    20.879744  82.002744  6.502985  202.935536      0
1  85  58  41    21.770462  80.319644  7.038096  226.655537      0
2  60  55  44    23.004459  82.320763  7.840207  263.964248      0
3  74  35  40    26.491096  80.158363  6.980401  242.864034      0
4  78  42  42    20.130175  81.604873  7.628473  262.717340      0
5  69  37  42    23.058049  83.370118  7.073454  251.055000      0
6  69  55  38    22.708838  82.639414  5.700806  271.324860      0
7  94  53  40    20.277744  82.894086  5.718627  241.974195      0
8  89  54  38    24.515881  83.535216  6.685346  230.446236      0
9  68  58  38    23.223974  83.033227  6.336254  221.209196      0

In [8]:
X=data.iloc[:,0:7].values
y=data.iloc[:,7:].values
y = y.ravel()

In [9]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3, random_state=42)

In [10]:
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [11]:
log= RandomForestClassifier()

In [12]:
log.fit(X_train,y_train)
pred=log.predict(X_test)

In [13]:
from sklearn.metrics import accuracy_score
a=accuracy_score(y_test,pred)
print("the accuracy of the model: ",a*100)

the accuracy of the model:  99.24242424242425

In [14]:
ran=[20,82,6.5,202,5,5.5,98]
ran_arr=np.array(ran)
ran_num=ran_arr.reshape(1,-1)
pred_sin_row=log.predict(ran_num)
print(pred_sin_row)

[15]

In [15]:
import pickle


model = log


with open("crpyield.pkl", "wb") as f:
    pickle.dump(model, f)